<section class="section section__calculator">
    <div class="investment">
        <div class="investment__variables">
            <div>
                <label for="principal">Principal Amount:</label>
                <p-slider [(ngModel)]="principal" [min]="0" [max]="1000" [step]="10"
                    (onChange)="calculatepercentage()"></p-slider>
                <span>{{ principal | currency:'INR':'symbol':'1.0-0' }}</span>
            </div>
            <div>
                <label for="rate">Rate of Interest:</label>
                <p-slider [(ngModel)]="rate" [min]="0" [max]="100" (onChange)="calculatepercentage()"></p-slider>
                <span>{{ rate | number:'1.1-1' }}%</span>
            </div>
            <div>
                <label for="time">Tenure (in years):</label>
                <p-slider [(ngModel)]="time" [min]="25" [max]="50" [step]="5"
                    (onChange)="calculatepercentage()"></p-slider>
                <span>{{ time }} years</span>
            </div>
        </div>
        <div class="investment__chart">
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div #doughnutChart></div>
        </div>
    </div>
    <div class="calculations">
        <div class="total">
            <div>
                Total Investment: {{ calculatetotalinvestment() | currency:'INR':'symbol':'1.2-2' }}
            </div>
            <div>
                <p>Total Returns: {{ calculateSimpleInterest() | currency:'INR':'symbol':'1.2-2' }}</p>
            </div>
            <div>
                <p>Total Value: {{ calculateSimpleInterest() + calculatetotalinvestment()|
                    currency:'INR':'symbol':'1.2-2' }}</p>
            </div>

        </div>

        <div class="empty">

        </div>
    </div>
</section>