<section class="section section__calculator">
    <div class="investment">
        <div class="investment__variables">
            <div>
                <label class="principal" for="principal">Monthly subscription: <input type="text"
                        [(ngModel)]="principal"></label>
                <p-slider [(ngModel)]="principal" [min]="0" [max]="200000" [step]="100"
                    (onChange)="calculatepercentage()"></p-slider>
                <span>{{ principal | currency:'INR':'symbol':'1.0-0' }}</span>
            </div>
            <div>
                <label for="rate">Rate of Interest:</label>
                <p-slider [(ngModel)]="rate" [min]="0" [max]="30" (onChange)="calculatepercentage()"></p-slider>
                <span>{{ rate | number:'1.1-1' }}%</span>
            </div>
            <div class="time">
                <label for="time">Tenure (in months): <span>
                        <select name="time" id="" [(ngModel)]="time">
                            <option value="1" disabled hidden>Choose plan</option>
                            <option value="25">ST</option>
                            <option value="30">TT</option>
                            <option value="40">FT</option>
                            <option value="50">LT</option>
                        </select>
                    </span></label>
                <!-- <p-slider [(ngModel)]="time" [min]="25" [max]="50" [step]="5"
                    (onChange)="calculatepercentage()"></p-slider> -->
                <!-- 
                <div class="slider">
                    <div class="slider__range">

                    </div>
                    <div class="break"></div>
                </div> -->
                <span *ngIf="time>1">{{ time }} months</span>
            </div>
        </div>
        <div class="investment__chart">
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div #doughnutChart></div>
        </div>
    </div>
    <div class="calculations">
        <div class="total">
            <div>
                Chit value: {{ calculatetotalinvestment() | currency:'INR':'symbol':'1.2-2' }}
            </div>
            <div>
                <p>Total Interest: {{ calculateSimpleInterest() | currency:'INR':'symbol':'1.2-2' }}</p>
            </div>
            <div>
                <p>Total Returns: {{ calculateSimpleInterest() + calculatetotalinvestment()|
                    currency:'INR':'symbol':'1.2-2' }}</p>
            </div>

            <div>
                <p>Annual Interest: {{( calculateSimpleInterest()/12) | currency:'INR':'symbol':'1.2-2' }}</p>
            </div>

            {{10000 | numberFormat}}




        </div>

        <div class="empty">

        </div>
    </div>
</section>