// }

.section {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    color: #42526E;





    .investment {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-control {
            padding: 1rem;
            background-color: #FAFBFC;
            border: 1px solid #DFE1E6;
            outline: none;
            border-radius: 4px;
            width: 17.3rem;
            padding-left: 2rem;



            font-weight: 500;

            &:focus {
                outline: 1px solid blue;
            }
        }



        .text_container {
            position: relative;
            display: flex;
            align-items: center;

            .symbol {
                position: absolute;
                left: 10px;
                font-size: 16px;
                font-weight: 500;
            }
        }


        &__variables {
            width: 80%;
            height: 60%;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            border-radius: 6px;
            padding: 1.6rem;
            background-color: white;

            .variable {
                display: flex;
                flex-direction: column;
                gap: 8px;

                label {
                    display: flex;
                    align-items: center;

                }
            }



            .subscription {


                .price-range {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.3rem;
                    color: #5E6C84;

                }
            }

            // div {
            //     display: flex;
            //     flex-direction: column;
            //     gap: 1rem;
            // }



            .time {
                display: flex;
                justify-content: space-between;

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;


                    span {
                        font-weight: 500;
                        color: #172B4D;
                    }
                }

            }

            .bid {
                label {
                    display: flex;
                    justify-content: space-between;
                }

                .price-range {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.3rem;
                    color: #5E6C84;

                }

            }


            .principal {
                display: flex;
                justify-content: space-between;



            }

            // background-color: orange;
        }


        .empty {
            width: 80%;
            height: 40%;
            display: flex;
            padding: 1.6rem;
            flex-direction: column;
            gap: 1rem;
            border-radius: 6px;
            background-color: white;

            .bank-rate {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .text {
                    display: flex;
                    justify-content: space-between;

                    span {
                        color: #172B4D;
                        font-weight: 500;
                    }


                }

                .price-range {
                    display: flex;
                    justify-content: space-between;
                }





            }

            .interest {
                width: 100%;
                display: flex;

                .total-interest {
                    width: 50%;
                    display: flex;
                    gap: 8px;
                    flex-direction: column;

                    .title {
                        font-size: 1.3rem;
                    }

                    .content {
                        font-size: 1.6rem;
                        color: #0747A6;
                        font-weight: 500;
                    }
                }

                .amount {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .title {
                        font-size: 1.3rem;
                    }

                    .content {
                        font-size: 1.6rem;
                        color: #0747A6;
                        font-weight: 500;
                    }
                }



            }


        }

        // &__chart {
        //     width: 40%;
        //     height: 100%;
        //     display: flex;
        //     justify-content: center;
        //     flex-direction: column;
        //     align-items: center;
        //     gap: 2rem;


        //     .bars {
        //         width: 100%;
        //         display: flex;
        //         justify-content: space-around;

        //         .bar {
        //             width: 50%;
        //             height: 3rem;
        //             // background-color: black;
        //         }
        //     }







        //     // background-color: yellow;
        // }


    }

    .calculations {
        display: flex;
        height: 100%;
        width: 40%;
        // background-color: gray;

        // background-color: red;

        .total {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.6rem;
            .calciheader{
                .heading{
                    color: #42526E;
                    font-size: 1.3rem;
                }
                .largetext{
                    font-size: 2.4rem;
                    color: #0747A6;
                    text-align: end;
                }
                width: 100%;
                height: 6.4rem;
                display: flex;
                justify-content: space-between;
                // background-color: blueviolet;
                .calcidiv{
                   display: flex;
                   flex-direction: column;
                   gap: 4px;
                }
               
            }
            .line{
                height: 1px;
                align-self: stretch;
                background: #D9D9D9;
                
                }
                .calcybody{
                    .calbodyp{
                        color: #42526E;
                        font-size: 1.2rem;
                    }
                    width: 100%;
                    // background-color: cadetblue;
                    height: 40vh;
                    display: flex;
                    flex-direction: column;
                    gap:15px;
                    .calbody{
                        display: flex;
                        justify-content: space-between;
                        .calbodyspan{
                            font-size: 1.4rem;
                            color: #001E2B;
                        }
                    }
                }





            // background-color: black;
        }




    }

    .round {
        position: relative;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        small {
            font-size: 1.2rem;
        }

        // background:
        //     radial-gradient(closest-side, white 79%, transparent 80% 100%),
        //     conic-gradient(hotpink 61%, pink 0);


    }


    .slider {
        position: relative;
        width: 100%;
        height: 1rem;
        background-color: antiquewhite;
        border-radius: 5px;

        &__range {
            position: absolute;
            height: 100%;
            width: 50%;
            background-color: blue;
            border-radius: 5px;





        }



    }





}