/* You can add global styles to this file, and also import other style files */

@import './vendors';




* {
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #EBEFF3;



}